.wrapper {
  position: relative;
  padding-top: rem(50px);
  padding-bottom: rem(50px);
  overflow: hidden; /* Add this line */
}

.wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#0c303f9a, #0c303f9a),
    url('src/assets/college_students_working.jpg');
  background-size: cover;
  background-position: center;

  z-index: -1;
}
