.wrapper {
    position: relative;
    padding-top: rem(180px);
    padding-bottom: rem(130px);
    overflow: hidden; /* Add this line */
}

.wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)), url("../../assets/hero.webp");
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* Add this line */
    z-index: -1;
}