.wrapper {
    position: relative;
    padding-top: rem(180px);
    padding-bottom: rem(130px);
    background-image: url("../../assets/hero.webp");
    background-size: cover;
    background-position: center;
}

.labels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: #9e62ffe1;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    text-align: center;
    color: #5a9cffdc;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin: 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    height: auto;
    width: 80%;
    max-width: 800px;
}


.form {
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.fullWidth {
    width: 100%;
}